<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контракт №{{ contract.id }}</title>
</head>
<body>
<h1>Контракт №{{ contract.id }}</h1>
<h3>Клієнт, якому надали послугу: <a href={% url 'client' contract.client.id %}>{{ contract.client }}</a></h3>
<p>Контракт дійсний з <b>{{ contract.from_date }}</b> до <b>{{ contract.to_date }}</b></p>
<p>Сума, видана під заставу: <b>{{ contract.money_out }}</b></p>
<h2>Перелік товарів, що зберігаються за контрактом:</h2>
    <ul>
    {% for item in contract.item_set.all %}
        <li>Номер товару: <a href={% url 'item' item.id %}>{{ item.id }}</a> | Назва: {{ item }}</li>
    {% endfor %}
    </ul>

</body>
</html>